<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) TopSort 2021 - All Rights Reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <topsort_integration>
            <api>
                <currency_multiplier>100</currency_multiplier>
                <use_sql_strict_mode>default</use_sql_strict_mode>
                <url>https://topsort.com</url>
            </api>
            <catalog>
                <label_text>Promoted</label_text>
                <promoted_products_amount>2</promoted_products_amount>
                <minimum_products_amount>5</minimum_products_amount>
            </catalog>
            <search>
                <label_text>Promoted</label_text>
                <promoted_products_amount>2</promoted_products_amount>
                <minimum_products_amount>5</minimum_products_amount>
            </search>
        </topsort_integration>
        <topsort_catalog_service>
            <api>
                <vendors_attribute_code>manufacturer</vendors_attribute_code>
                <brands_attribute_code>manufacturer</brands_attribute_code>
            </api>
        </topsort_catalog_service>
    </default>
</config>
