<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) Topsort 2022 - All Rights Reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Topsort_Integration" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
